@model EntryListViewModel

@{
    ViewData["Title"] = "World Record List";
}

<div class="section-filters">
    <h3>Highscores Overview - @Model.Entries.Count records found</h3>
    <form class="form-standard" method="post">
        <div class="form-standard-field">
            <input name="PlayerFilter1" placeholder="Player Tag or Code" type="text" value="@Model.PlayerFilter1" />
        </div>
        <div class="form-standard-field">
            <input name="PlayerFilter2" placeholder="Player Tag or Code" type="text" value="@Model.PlayerFilter2" />
        </div>
        <div class="form-standard-field">
            <select name="CharacterFilter1">
                <option value="" selected="selected">Character</option>
                @foreach (Character character in Model.Characters)
                {
                    if (character == Model.CharacterFilter1)
                    {
                        <option value="@character" selected="selected">@character.GetDisplayName()</option>
                    }
                    else
                    {
                        <option value="@character">@character.GetDisplayName()</option>
                    }
                }
            </select>
        </div>
        <div class="form-standard-field">
            <select name="CharacterFilter2">
                <option value="" selected="selected">Character</option>
                @foreach (Character character in Model.Characters)
                {
                    if (character == Model.CharacterFilter2)
                    {
                        <option value="@character" selected="selected">@character.GetDisplayName()</option>
                    }
                    else
                    {
                        <option value="@character">@character.GetDisplayName()</option>
                    }
                }
            </select>
        </div>
        <div class="form-standard-field">
            <select name="StageFilter">
                <option selected="selected">Stage</option>
                @foreach (Stage stage in Model.Stages)
                {
                    if (stage == Model.StageFilter)
                    {
                        <option value="@stage" selected="selected">@stage.GetDisplayName()</option>
                    }
                    else
                    {
                        <option value="@stage">@stage.GetDisplayName()</option>
                    }
                }
            </select>
        </div>
        <div class="form-standard-field">
            <button class="button" type="submit">Filter</button>
        </div>
    </form>
</div>

<table class="table-game-entry table-primary table-entries pad-top-lg">
    <thead>
        <tr>
            <th class="align-center">Character 1</th>
            <th class="align-center">Character 2</th>
            <th class="align-center">Stage</th>
            <th class="align-center">Time</th>
            <th class="align-center">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Entry entry in Model.Entries)
        {
            <tr class="align-center">
                <td onclick="goToCharacter(@((int)entry.Character1))"><img class="stock-icon" src="@entry.Character1.GetStockIconPath()" /> @entry.Character1.GetDisplayName() @(entry.Player1 != null ? string.Format("({0})", entry.Player1.Name) : "")</td>
                <td onclick="goToCharacter(@((int)entry.Character2))"><img class="stock-icon" src="@entry.Character2.GetStockIconPath()" /> @entry.Character2.GetDisplayName() @(entry.Player2 != null ? string.Format("({0})", entry.Player2.Name) : "")</td>
                <td>@entry.Stage.GetDisplayName()</td>
                <td>@entry.Frames</td>
                <td>@entry.DateRun.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function goToProfile(id) {
            window.location.href = '/Player/Profile/' + id;
        }

        function goToGame(id) {
            window.location.href = '/Game/' + id
        }

        function goToCharacter(id) {
            window.location.href = '/Character/' + id;
        }
    </script>
}