@model CharacterIndexViewModel

@{
    ViewData["Title"] = @Model.Character.GetDisplayName() + "'s Stage";
}

<div class="section-filters">
    <h3>@Model.Character.GetDisplayName()'s Stage Overview</h3>
    <form class="form-standard" method="post" id="filterForm">
        <input id="opponentFilter" name="opponentFilter" placeholder="Opponent Tag or Code" value=" />
        <input id="characterFilter" name="character" hidden />
        <input id="opponentCharacterFilter" name="opponentCharacter" hidden />
        <button class="button" type="submit">Filter</button>
    </form>
</div>

<div class="profile-overview">
    <div class="profile-matchups">
        <table class="table-matchups">
            <thead>
                <tr>
                    <th onclick="clearFilter()" onmouseover="hoverTable()" onmouseout="unhoverTable()" />
                    <th onclick="clearFilter()" onmouseover="hoverTable()" onmouseout="unhoverTable()" />
                    @{int i = 3;}
                    @foreach (Character character in Model.Characters.OrderBy(c => c.GetCSSIndex()))
                    {
                        if (character.GetTournamentLegality())
                        {
                            <th><img src="@character.GetStockIconPath()" /></th>
                        }
                        i++;
                    }
                </tr>
            </thead>
            <tbody>
                @{int row = 1;}
                @foreach (Character character in Model.Characters.OrderBy(c => c.GetCSSIndex()))
                {
                    if (character.GetTournamentLegality())
                    {
                        <tr class="matchup-row ">
                            <td class="matchup-row-header" style="min-width: 27px;"></td>
                            <td class="matchup-row-header"><img src="@character.GetStockIconPath()" /></td>
                            @{int col = 3;}
                            @foreach (Character opponentCharacter in Model.Characters.OrderBy(c => c.GetCSSIndex()))
                            {
                                if (opponentCharacter.GetTournamentLegality())
                                {
                                    <td class="matchup-cell" id="@(character)-@(opponentCharacter)">
                                        @(Model.FramesToTime(
                                            Model.Entries.Where(e => e.Character1 == character && e.Character2 == opponentCharacter).FirstOrDefault()?.Frames
                                        ) ?? "-")
                                    </td>
                                }
                            col++;
                            }
                        </tr>
                    }
                row++;
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>

        function framesToTime(frames, id) {

            var minutes = Math.floor(frames / 60 / 60);
            var seconds = Math.floor(frames / 60).toLocaleString('en-us', { minimumIntegerDigits: 2 });
            var centiseconds = Math.floor((frames % 60) * 99 / 59).toLocaleString('en-us', { minimumIntegerDigits: 2 });
            var time = `${minutes}:${seconds}.${centiseconds}`;
            $(`#entry-${id}`).text(time);

        }

        @foreach (Entry entry in Model.Entries)
        {
            <text>framesToTime(@entry.Frames, @entry.Id);</text>
        }

    </script>
}